<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <%-include ('partials/nav')%>
    <h1>About My Florida Library</h1>
    <p>
      Welcome to my library. These books are available for your reading
      pleasure.<br />
      If you plan to keep a book, please let know si I can update the library.
      <br />
      If you leave a book, thank you. I will update the library for future
      readers.<br />
      <br />
      Enjoy!!!
    </p>
    <%-include ('partials/footer')%>
  </body>
</html>
