<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Florida Library</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%-include ('partials/nav')%>
    <h1>Welcome to my Florida Llibrary</h1>
    <p>
      Welcome to my library. These books are available for your reading
      pleasure.<br />
      <br />
      Enjoy!!!
    </p>
    <%-include ('partials/footer')%>
  </body>
</html>
