<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>No Record Found</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <%-include ('partials/nav')%>
    <h1>No Record Found</h1>
    <p>
      Sorry, I don't have the book you are looking for. There are many other
      books you might like.
    </p>
    <%-include ('partials/footer')%>
  </body>
</html>
