<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Book</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('partials/nav') %>
    <main>
      <h1>Update Book</h1>
      <form action="/books" ?_method="PUT" method="POST">
        <label for="field">Field to Update:</label>
        <select name="field" title="field">
          <option value="title">Title</option>
          <option value="author">Author</option>
          <option value="genre">Genre</option>
          <option value="year_published">Year Published</option>
        </select>

        <label for="newValue">New Value:</label>
        <input type="text" name="newValue" title="newValue" required />
        <button type="submit">Update Book</button>
      </form>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
