body {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: "Bradley Hand";
  max-width: 1200px;
  background-color: #87ceeb;
  color: 0007BFF;
}
a:hover {
  color: white;
}
p,
h2,
h3,
a {
  text-align: center;
  margin: 10;
  padding: 10;
  text-decoration: none;
  color: #0c1dd5;
  font-size: 20px;
}
h1 {
  text-align: center;
  margin: 10;
  padding: 10;
  text-decoration: none;
  color: #0c1dd5;
  font-size: 30px;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
  background-color: #007bff;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav li {
  list-style-type: none;
  text-decoration: none;
  margin-left: 20px;
}
nav h1 {
  font-size: 3em;
}
nav p,
nav a {
  color: #212f3d;
  font-weight: 300;
}
footer {
  color: #007bff;
  text-align: right;
  margin: 20px auto 20px;
  margin-top: 30%;
}
h2 {
  margin-bottom: 20px;
}
h3 {
  text-transform: capitalize;
  margin-bottom: 6px;
}
.content {
  margin-left: 20px;
}

.form label {
  display: flex;
  margin: 20px;
}

label {
  font-size: 16px;
}

button {
  padding-top: 25%;
  color: #fff200;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
  font-family: "Bradley Hand";
  background-color: #007bff;
}

button:hover {
  color: #ff0000;
  background-color: #007bff;
}

ul.book-list {
  list-style-type: none;
  padding-right: 10px;
  margin: 0;
  text-align: center;
  padding-bottom: 150px;
}

ul.book-list a {
  color: #0c1dd5;
  text-decoration: none;
}
ul.book-list li {
  padding: 5px 0;
}
